---
import { getCollection } from "astro:content";
import VolunteerActivity from "./VolunteerActivity.astro";

const volunteerActivities = (await getCollection("volunteer-activities")).sort(
  (a, b) => b.data.from.getTime() - a.data.from.getTime(),
);
---

<ul class="list-none pl-0">
  {
    volunteerActivities.map(async (volunteerActivity) => {
      const { Content } = await volunteerActivity.render();
      return (
        <li class="pl-0 prose-ul:list-outside mb-6 break-inside-avoid-page">
          <VolunteerActivity {...volunteerActivity.data}>
            <Content />
          </VolunteerActivity>
        </li>
      );
    })
  }
</ul>
